# XRD .csv files
ANI_MgF3_001.csv
dstape_perm.csv
dstape_rmvl.csv
dstape_rmvl_check.csv
MgF2KCl-032018.csv
MgF2KCl-040618.csv
MIL002-C-5umf-C.csv
MIL003-C-5umf-C.csv
MIL004-C-5umf-C.csv
MIL53-adv-001.csv
MIL53-adv-004.csv
MIL53-adv-006-UC.csv
MIL53-adv-006.csv
MIL53-adv-008.csv
MIL53-adv-010.csv
MIL53-adv-011.csv
MIL53-adv-013.csv
mil53ht_pwc.csv
pd-bulk.csv
pd-cmc90k.csv
pd-collagenaq.csv
pd-controlcornea.csv
pd-corneacystine0dot01.csv
pd-corneacystine5.csv
xrd-glass.csv


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
