# folders
_practice/

# Python files
mof_lattice_params.py
results_mof-peak_index.txt
string.txt
indexing_old.py
confidential_XRD.py

# XRD files
*.csv
*.xrdml
*.xy

#other extensions
*.bak
*.bak00
*.bak01
*.bak02
*.emf
*.geq
*.ger
*.hpf
*.sav

#also popular extensions
*.jpg
*.xls
*.xlsx
*.rtf

# Do not ignore
!XRDpy_drawing.jpg


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
