## Ignore files ["Do not ignore files" are at the bottom]


__pycache__
# folders
_old/
_practice/
XRD_files/
Youtube/

XRDpy_drawing.png

# Python files
mof_lattice_params.py
indexing_old.py
indexing.py

# legacy / confidential
xrda.py
xrdsingla.py
randXRD.py
lattice_mismatch.py
untitled1.py

# discontinued
XRD_mydatabase.py
XRD_database.py
XRD_database_template_old.py



#odt files
*.odt

*.xrdml
*.xy

#other extensions
*.bak
*.bak00
*.bak01
*.bak02
*.emf
*.geq
*.ger
*.hpf
*.sav

#also popular extensions
*.txt
*.jpg

*.rtf
*.pdf


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Do not ignore
!XRD_drawing.jpg
